* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
}

/* // main page styling //  */
.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: #15161c;
}
.mainbody{
  height: 100vh;
  width: calc(100vw - 45px);
  padding: 20px 30px;
}

/* // sidebar styles // */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  width: max-content;
}
.sidebar .logo{
  color : skyblue;
  margin-bottom: 20px;
}
.sidebar .help{
  color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  margin: auto;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.sidebar .auth{
  color: #6c00e0;
  margin-top: 20px;
  background-color: #37c491;
}
.sidebar .logoAndLinks{
  position: relative;
  top : 20px;
}
.sidebar .helpAndAuth{
  position: fixed;
  bottom : 20px
}

/* // Sidebar entity styling //  */
.sidebarEntity {
  color: white;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 50%;
  margin: auto;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.sidebarEntity:hover {
  color: yellow;
  background-color: #6c00e0;
  transition: all ease 0.4s;
}

/* // Dropdown component //  */
.dropdown select{
  color:white;
  background-color: #15161c;
  margin-right: 20px;
  padding: 7px 10px;
  min-width: 120px;
}
.DropdownSelectorComponent{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}